.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--gray-400);

    margin-top: 4rem;
}

.wrapper p {
    margin-top: 1rem;

    font-size: 1rem;
    line-height: 1.6rem;
    text-align: center;
}

.wrapper p strong {
    display: block;
}